<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dividend Tracker Dashboard</title>
    
</head>
<body>
        <h1>My Portfolio</h1>

        <h2>Add a new Holding</h2>

        <form method ="POST">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Add Stock</button>
        </form>
        <hr> <table border="1">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Shares</th>
                    <th>Dividend Reinvestment Plan (DRIP) Active</th>
                    <th>Dividend / Share</th>
                    <th>Dividend Yield</th>
                    <th>Estimated Annual Income</th>
                </tr>
            </thead>
            <tbody>
                {% for holding in holdings %}
                <tr>
                    <td>{{ holding.ticker }}</td>
                    <td>{{ holding.shares_amnt }}</td>
                    <td>{{ holding.auto_reinvest }}</td>
                    <td>${{ holding.market_data.dividend_per_share }}</td>
                    <td>{{ holding.market_data.dividend_yield|floatformat:2|default:"0.00" }}</td>

                    <td>${{ holding.annual_income|floatformat:2 }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">No holdings yet.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</body>
</html>